<!DOCTYPE html>
<html>

<style type="text/css">
	table{
		counter-reset: tableCount;
	}

	.counterCell:before {
		content: counter(tableCount);
		counter-increment: tableCount;
	}
</style>
    <head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title> {{judul}} </title>
    </head>
    <body>
        <h1> {{judul}}</h1>
        <p>Selamat datang di {{pageName}} dengan kontributor {{kontributor}} </p>
        <p>Daftar Mahasiswa</p>
        <table class="table">
        	<thead class="thead-dark">
        	<tr>
        		<th>No</th>
        		<th>NIM</th>
        		<th>Nama Mahasiswa</th>
        		<th>Program Studi</th>
        	</tr>
        </thead>
        	{% for mhs in Mahasiswas %}
        <tbody>
        	<tr>
        		<td class="counterCell"></td>
        		<td>{{mhs.nim}}</td>
        		<td>{{mhs.nama}}</td>
        		<td>{{mhs.ps}}</td>
        	</tr>
        </tbody>
        	{% endfor %}
        </table>
        <p><a href="/">Kembali ke home </a></p>
    </body>
</html>